body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
link {
  text-decoration: none;
}
address {
  font-style: normal;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  padding: 0 15px;
  margin: 0 auto;
}
/**-----------------------Header--------------------**/
.header-body {
}
.header-container {
  display: flex;
  border-bottom: 1px solid #e7e9fc;
  background-color: #fff;
}
.header-logo-span {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  padding-top: 25.5px;
  padding-bottom: 25.5px;
}
.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding-top: 25.5px;
  padding-bottom: 25.5px;
  margin-left: 156px;
  margin-right: 76px;
}

.header-navigation {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  justify-content: space-between;
  align-items: center;
}
.header-menu-list {
  display: flex;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-left: auto;
}
.header-menu-item {
  padding: 24px 0;
}
.header-menu-item .header-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  cursor: pointer;
  margin-left: auto;
}
.header-logo:hover,
.header-logo:focus {
  color: #404bbf;
}
.header-logo-span:hover,
.header-logo-span:focus {
  color: #404bbf;
}

.header-logo {
  font-style: normal;
}
.header-address {
  font-style: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}
.header-link:hover,
.header-link:focus {
  color: #404bbf;
}
.header-address-list {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  gap: 40px;
}
.header-address-link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  cursor: pointer;
}
.header-address-link:hover,
.header-address-link:focus,
.header-address-link:active {
  color: #404bbf;
}

/**-----------------------Header--------------------**/

/**-----------------------Main--------------------**/
.main-container {
  background-color: #2e2f42;
  padding: 188px 472px 292px 472px;
  width: 100%;
}
.main-title {
  color: #fff;
  text-align: center;
  background-color: #2e2f42;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  width: 496px;
}

.main-button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: white;
  background: #4d5ae5;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border: none;
  cursor: pointer;
}
.main-button:hover,
.main-button:focus,
.main-button:active {
  background-color: #404bbf;
}
.solutions {
  background: #fff;
}
.visually-hidden {
  margin: -1px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.solutions-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.solutions-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team {
  background-color: #f4f4fd;
}
.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-item {
  background-color: #ffffff;
}

.team-names {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-text {
  color: #434455;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.portfolio-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/**-----------------------Main--------------------**/
/**-----------------------Footer--------------------**/
.footer {
  background-color: #2e2f42;
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  cursor: pointer;
}
.footer-logo-span {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  cursor: pointer;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
