body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
link {
  text-decoration: none;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
/**-----------------------Header--------------------**/
.header-body {
}
.header-container {
  display: flex;
  border-bottom: 1px solid #e7e9fc;
  background-color: #fff;
  align-items: center;
}
.header-logo-span {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  padding-top: 25.5px;
  padding-bottom: 25.5px;
}
.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-right: 76px;
}

.header-navigation {
  display: flex;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
}
.header-menu-list {
  display: flex;
  gap: 40px;
}

.header-menu-item .header-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  cursor: pointer;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-left: auto;
}
.header-logo:hover,
.header-logo:focus {
  color: #404bbf;
}
.header-logo-span:hover,
.header-logo-span:focus {
  color: #404bbf;
}

.header-logo {
  font-style: normal;
}
.header-address-list {
  display: flex;
  gap: 40px;
}
.header-link:hover,
.header-link:focus {
  color: #404bbf;
}
.header-address-item {
}
.header-address-link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  cursor: pointer;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-address-link:hover,
.header-address-link:focus,
.header-address-link:active {
  color: #404bbf;
}

/**-----------------------Header--------------------**/

/**-----------------------Main--------------------**/
.main {
  background-color: #2e2f42;
  padding: 188px 0;
}

.main-title {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 496px;
}

.main-button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: white;
  background-color: #4d5ae5;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  padding: 16px 32px;
  margin: 0 auto;
  align-items: flex-start;
  gap: 10px;
  border: none;
  cursor: pointer;
}
.main-button:hover,
.main-button:focus,
.main-button:active {
  background-color: #404bbf;
}
.solutions {
  padding: 120px 120px 120px 120px;
}
.visually-hidden {
  margin: -1px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.solutions-list {
  display: flex;
  gap: 24px;
}
.solutions-item {
  width: calc((100% - 24px * 3) / 4);
}
.solutions-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.solutions-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-list {
  display: flex;
  gap: 24px;
}
.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-item {
  background-color: #ffffff;
  width: calc((100% - 24px * 3) / 4);
}
.team-names-text {
  padding: 32px 0;
  gap: 8px;
}
.team-names {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-text {
  color: #434455;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio {
  padding: 120px 156px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio-item {
  width: calc((100% - 2 * 24px) / 3);
}
.portfolio-info {
  padding: 32px 16px;
  gap: 8px;
  border: 1px solid #000;
}
.portfolio-title {
  color: #2e2f42;
  margin-bottom: 72px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.portfolio-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/**-----------------------Main--------------------**/
/**-----------------------Footer--------------------**/
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-flex;
  margin-bottom: 16px;
  cursor: pointer;
}
.footer-logo-span {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-flex;
  margin-bottom: 16px;
  cursor: pointer;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}
